# [mlnx_{{ mellanox_driver_type }}_{{ mellanox_driver_version }}_base]
deb [signed-by={{ mellanox_apt_key_path }}] {{ mellanox_yum_repo_base_url }}/{{ mellanox_driver_version }}/{{mellanox_apt_repo_os_family}}{{mellanox_apt_repo_os_version}}/{{mellanox_repo_arch}} ./